{% extends "/:base" %}
{# Title #}
{% block title %}未来云计算团队 官方网站 - 项目{% endblock %}
{# Custom head extension #}
{% block custom_head %}{% endblock %}
{# Page content #}
{% block content %}
<!-- Introduction zone -->
<section id="projects" name="projects"></section>
<div id="group_nav" class="container">
  <br />
  <ul class="nav nav-pills">
    <li><a href="#website_group">网站组</a></li>
    <li><a href="#deep_learning_group">深度学习组</a></li>
    <li><a href="#data_mining_group">数据挖掘组</a></li>
    <li><a href="#deep_learning_group">赛事预测组</a></li>
    <li><a href="#data_mining_group">全球洪水预警组</a></li>
    <li><a href="#data_smart_hardware">智能硬件组</a></li>
  </ul>
  <hr />
</div>
<div id="projects-zone" class="container">
  <div>
    <a name="website_group"></a>
    <h1>网站组</h1>
    <p>未来云计算的网站由网络组自己开发搭建，采用阿里云服务器部署，主要面向全体队员和参观人员，介绍各个项目的情况和进度，展示团队工作情况和自我风采。</p>
    <a href="#top">回页首</a>
  </div>
  <hr />
  <div>
    <a name="deep_learning_group"></a>
    <h1>深度学习组</h1>
    <p>本组工作旨在了解DEEP-LEARNING(深度学习)，通过matlab编程利用R-CNN库实现视频的动态捕捉和图像识别。我们拍摄了大量的图片，并通过标记学习来训练。</p>
    <a href="#top">回页首</a>
  </div>
  <hr />
  <div>
    <a name="data_mining_group"></a>
    <h1>数据挖掘组</h1>
    <p>日常生活中大数据随处可见，通过网络爬虫爬去用户商品信息，我们从淘宝、天猫、京东、亚马逊的网购页面得到货物信息，通过URL分析得到需要的数据。</p>
    <a href="#top">回页首</a>
  </div>
  <hr />
  <div>
    <a name="data_race_forecast"></a>
    <h1>赛事预测组</h1>
    <p>分析以往的赛事数据，我们可以推断出赛事的结果，当数据量足够大的时候，基于大数据的预测程序可以给出较为准确的赛事结果预测。</p>
    <a href="#top">回页首</a>
  </div>
  <hr />
  <div>
    <a name="data_flood_warning"></a>
    <h1>全球洪水预警组</h1>
    <p>“筑起大数据时代的防洪堤”——我们通过网络上采集的降雨信息，分析出全球各个地方的洪水泛滥可能性，并提供预警。本项目曾经两度获得清华大学挑战杯一等奖。</p>
    <a href="#top">回页首</a>
  </div>
  <hr />
  <div>
    <a name="data_smart_hardware"></a>
    <h1>智能硬件组</h1>
    <p>智能硬件</p>
    <a href="#top">回页首</a>
  </div>
  <br />
</div>
{% endblock %}
